<!doctype html>
<head>
    <title>Login</title>
</head>
<body>
  <h3>Kirjaudu</h3>
  <form action="/login" method="post">
    <div>
      <label>Käyttäjä:</label>
      <input type="text" name="kayttaja"/>
    </div><div>
      <label>Salasana:</label>
      <input type="password" name="salasana"/>
    </div><div>
      <input type="submit" value="Kirjaudu"/>
    </div>
  </form>
  <p><a href="/">Home</a></p>
</body>