<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (var i = 0; i < users.length; i++) { 
    //this = users[i]; %>
    <p><a href="users/<%=users[i]%>"><%=users[i]%></a></p>
    
    <% } %>
    <a href="/users">Link to users</a>
  </body>
</html>